#body {
    margin: 0px 5px 0px;
}

.header {
    height: 83px;
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
}

.anjoyi {
    height: 83px;
    width: 268px;
    border-bottom: 1px solid #797979;
    border-right: 1px solid #797979;
}

.pandalogo {
    display: flex;
    margin-left: 22px;
    margin-top: 13px;
}

#panda {
    width: 60px;
}

.logo {
    color: #333333;
    font-family: 'Forte';
    font-style: italic;
    font-weight: 700;
    src: url('http://www.fontsaddict.com/fontface/forte.ttf');
    font-size: 45px;
    margin-left: 10px;
    text-decoration: none;
}

.mylocation {
    height: 83px;
    width: 949px;
    border-bottom: 1px solid #797979;
    border-right: 1px solid #797979;
}

.locationaddress {
    display: flex;
    margin-left: 15px;
    margin-top: 22px;
}

#location {
    width: 40px;
}

.address {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    margin-top: 9px;
    margin-left: 10px;
}

.signin {
    height: 83px;
    width: 148px;
    border-bottom: 1px solid #797979;
    border-right: 1px solid #797979;
}

.humanlogin {
    display: flex;
    margin-left: 21px;
    margin-top: 22px;
}

#human {
    width: 40px;
}

.login {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    font-weight: 700;
    margin-top: 9px;
    margin-left: 4px;
}

.shoppingcart {
    height: 83px;
    width: 145px;
    border-bottom: 1px solid #797979;
}

.shopcart {
    display: flex;
    margin-left: 29px;
    margin-top: 22px;
}

#shop {
    width: 40px;
}

#num3 {
    width: 15px;
    height: 16px;
}

.cart {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    font-weight: 700;
    margin-top: 13px;
    margin-left: 4px;
    text-decoration: none;
    color: #333333;
}

.contentofhp {
    height: 2422px;
    border-bottom: 1px solid #797979;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 52%, rgba(236, 236, 236, 1) 100%);
}

.searchfilters {
    display: flex;
    margin-top: 109px;
    margin-left: 38px;
    width: 717px;
    height: 43px;
}

.search {
    width: 555px;
    height: 43px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    background-color: white;
}

.search12 {
    display: flex;
    margin-left: 12px;
    margin-top: 5px;
}

#search1 {
    width: 35px;
}

.search2 {
    font-family: 'Microsoft YaHei';
    color: #919399;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 5px;
}

.filters {
    width: 136px;
    height: 43px;
    margin-left: 26px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    background-color: white;
}

.filters12 {
    display: flex;
    margin-left: 24px;
    margin-top: 6px;
}

#filters1 {
    width: 27px;
    height: 31px;
}

.filters2 {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 5px;
}

.categories {
    display: flex;
    width: 1430px;
    height: 121px;
    margin-left: 38px;
    margin-top: 46px;
}

.hamburgers {
    width: 164px;
    height: 121px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
}

#ham1 {
    width: 70px;
    margin-left: 47px;
    margin-top: 8px;
}

.ham2 {
    margin-left: 12px;
}

.pizza {
    width: 164px;
    height: 121px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    margin-left: 46px;
    background-color: #E3E1E1;
}

#piz1 {
    width: 70px;
    margin-left: 47px;
    margin-top: 8px;
}

.piz2 {
    margin-left: 53px;
}

.sushi {
    width: 164px;
    height: 121px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
    margin-left: 45px;
}

#sush1 {
    width: 70px;
    margin-left: 47px;
    margin-top: 9px;
}

.sush2 {
    margin-left: 53px;
}

.meat {
    width: 164px;
    height: 121px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
    margin-left: 46px;
}

#meat1 {
    width: 70px;
    margin-left: 47px;
    margin-top: 9px;
}

.meat2 {
    margin-left: 53px;
}

.noodles {
    width: 164px;
    height: 121px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
    margin-left: 45px;
}

#nood1 {
    width: 70px;
    margin-left: 47px;
    margin-top: 9px;
}

.nood2 {
    margin-left: 37px;
}

.healthyfood {
    width: 164px;
    height: 121px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
    margin-left: 46px;
}

#vege1 {
    width: 70px;
    margin-left: 43px;
    margin-top: 9px;
}

.vege2 {
    margin-left: 8px;
}

.more {
    width: 121px;
    height: 121px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
    margin-left: 97px;
}

#more1 {
    width: 70px;
    height: 65px;
    margin-left: 26px;
    margin-top: 15px;
}

.more2 {
    margin-left: 31px;
}

.categorynames {
    font-family: 'Microsoft YaHei';
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}

#targetbox {
    margin-top: 60px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 51%, rgba(236, 236, 236, 1) 100%);
    border-bottom: 1px solid #797979;
    display: flex;
    flex-wrap: wrap;
}

.firstrowofhp {
    display: flex;
    margin-top: 71px;
}

.oneofhp {
    width: 440px;
    height: 450px;
    border-radius: 10px;
    margin: 0px 27.5px 55px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
}

.imgofhp {
    height: 330px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.pizzaname {
    font-family: 'Forte';
    font-weight: 700;
    color: #333333;
    src: url('http://www.fontsaddict.com/fontface/forte.ttf');
    font-size: 32px;
    margin-left: 11px;
}

.timepricerating {
    display: flex;
    height: 36px;
    margin-top: 15px;
}

.time {
    background-color: #F6F6F6;
    width: 140px;
    margin-left: 13px;
    border-radius: 30px;
}

.deliveryiconminutes {
    display: flex;
}

.deliveryicon {
    width: 20px;
    margin-left: 10px;
    margin-top: 8px;
}

.minutes {
    font-size: 16px;
    color: #F38F9F;
}

.price {
    background-color: #F6F6F6;
    width: 82px;
    margin-left: 12px;
    border-radius: 30px;
}

.euroiconamount {
    display: flex;
}

.euroicon {
    width: 20px;
    margin-left: 10px;
    margin-top: 8px;
}

.amount {
    font-size: 16px;
    color: #54545A;
}

.rating {
    background-color: #F6F6F6;
    width: 82px;
    margin-left: 12px;
    border-radius: 30px;
}

.stariconpoints {
    display: flex;
}

.staricon {
    width: 22px;
    margin-left: 10px;
    margin-top: 7px;
}

.points {
    font-size: 16px;
    color: #54545A;
}

.font {
    font-family: 'Microsoft YaHei';
    margin-left: 5px;
    margin-top: 7px;
}

.secondrow {
    display: flex;
    margin-top: 55px;
}

.thirdrow {
    display: flex;
    margin-top: 55px;
}

.fourthrow {
    display: flex;
    margin-top: 55px;
}

.showmorebutton {
    background-color: #3F3F45;
    width: 572px;
    height: 79px;
    line-height: 79px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.349019607843137);
    color: white;
    margin-left: 472px;
    margin-top: 52px;
    font-family: 'Microsoft YaHei';
    font-weight: 700;
    font-size: 32px;
}

.knopkashowmore:hover {
    background: #303035;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.349019607843137);
}

.knopkashowmore:active {
    background: #222225;
}

.knopkapizza:hover {
    background: rgb(251, 251, 251);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}

#wrapper {
    margin-top: 103px;
}

.contentofpd {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 51%, rgba(236, 236, 236, 1) 100%);
}

.anjoyi {
    height: 83px;
    width: 268px;
    border-bottom: 1px solid #797979;
    border-right: 1px solid #797979;
}

.pandalogo {
    display: flex;
    margin-left: 22px;
    margin-top: 13px;
}

#panda {
    width: 60px;
}

.logo {
    color: #333333;
    font-family: 'Forte';
    font-style: italic;
    font-weight: 700;
    src: url('http://www.fontsaddict.com/fontface/forte.ttf');
    font-size: 45px;
    margin-left: 10px;
    text-decoration: none;
}

.mylocation {
    height: 83px;
    width: 949px;
    border-bottom: 1px solid #797979;
    border-right: 1px solid #797979;
}

.locationaddress {
    display: flex;
    margin-left: 15px;
    margin-top: 22px;
}

#location {
    width: 40px;
}

.address {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    margin-top: 9px;
    margin-left: 10px;
}

.signin {
    height: 83px;
    width: 148px;
    border-bottom: 1px solid #797979;
    border-right: 1px solid #797979;
}

.humanlogin {
    display: flex;
    margin-left: 21px;
    margin-top: 22px;
}

#human {
    width: 40px;
}

.login {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    font-weight: 700;
    margin-top: 9px;
    margin-left: 4px;
}

.shoppingcart {
    height: 83px;
    width: 145px;
    border-bottom: 1px solid #797979;
}

.shopcart {
    display: flex;
    margin-left: 29px;
    margin-top: 22px;
}

#shop {
    width: 40px;
}

#num3 {
    width: 15px;
    height: 16px;
}

.cart {
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    font-weight: 700;
    margin-top: 13px;
    margin-left: 4px;
    text-decoration: none;
    color: #333333;
}

.product {
    height: 872px;
    width: 100%;
    border-bottom: 1px solid #797979;
}

.backbutton {
    margin-left: 38px;
    margin-top: 106px;
    width: 113px;
    height: 42px;
    background-color: white;
    border: 1px solid #797979;
    border-radius: 30px;
}

.backbuttoncontent {
    display: flex;
    margin-left: 13px;
    margin-top: 10px;
}

#backicon {
    width: 20px;
}

.backtext {
    font-family: 'Microsoft YaHei ', 'Microsoft YaHei ', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 7px;
}

.backtohp {
    text-decoration: none;
    color: #333333;
}

.pizzaofpd {
    height: 824px;
    width: 100%;
    margin-top: -34px;
}

.pizzabox1 {
    width: 100%;
    height: 619px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pizzaphoto {
    height: 450px;
    width: 600px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .3);
    margin-left: 36px;
}

.pizzainfo {
    height: 450px;
    width: 978px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 46px;
}

.pizzainfo .papa {
    font-family: 'Forte';
    font-size: 52px;
    width: 545px;
    height: 71px;
    font-weight: 700;
    margin: 0px 0px 0px 35px;
}

.knopkapizza:hover {
    background: rgb(251, 251, 251);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
}

.priceofpd {
    width: 545px;
    height: 73px;
    display: flex;
    background-color: #000000;
    align-items: center;
    border-radius: 30px;
}

.priceofpd p:nth-child(1) {
    font-family: "Microsoft YaHei";
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 23px;
    margin-left: 18px;
    font-weight: 700;
}

.priceofpd p:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #FFFFFF;
    font-size: 36px;
    padding-left: 325px;
    font-weight: 700;
}

.priceofpd .papaeuro {
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-right: 30px;
}

.rates {
    width: 545px;
    height: 73px;
    display: flex;
    background-color: #000000;
    align-items: center;
    border-radius: 30px;
    margin-top: 10px;
}

.rates p:nth-child(1) {
    font-family: "Microsoft YaHei";
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 23px;
    margin-left: 18px;
    white-space: nowrap;
    font-weight: 700;
}

.rates p:nth-child(2) {
    font-family: "Microsoft Yahei";
    color: #FFFFFF;
    font-size: 36px;
    padding-left: 185px;
    font-weight: 700;
}

.rates .papaeuro {
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-right: 30px;
}

.quantity {
    width: 685px;
    height: 82px;
    display: flex;
    margin-top: 27px;
}

.goods {
    background-color: #FFFFFF;
}

.quantity p {
    font-family: "Microsoft Yahei";
    color: #FFFFFF;
    font-size: 30px;
    width: 181px;
    height: 64px;
    background-color: #000000;
    border-radius: 30px;
    line-height: 64px;
    text-align: center;
    margin: 0px;
    font-weight: 700;
}

.quantity .num1000 {
    width: 88px;
    height: 48px;
    border-radius: 5px;
    font-weight: 700px;
    margin-left: 27px;
    margin-top: 5px;
}

.buycart {
    width: 100%;
    height: 93px;
    display: flex;
    margin-top: 37px;
}

.buycart a:nth-child(1) {
    width: 361px;
    height: 74px;
    font-family: 'Forte';
    font-size: 40px;
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .3);
    line-height: 74px;
    text-align: center;
    text-decoration: none;
}

.buycart a:nth-child(2) {
    width: 361px;
    height: 74px;
    font-family: 'Forte';
    font-size: 40px;
    color: #FF0000;
    background-color: #FFEDED;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .3);
    line-height: 74px;
    text-align: center;
    margin-left: 18px;
}

.buycart a:nth-child(1):hover {
    background: #ec0000;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.349019607843137);
}

.buycart a:nth-child(2):hover {
    background: #e6d5d5;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.349019607843137);
}

.pizzadetails {
    width: 100%;
    height: 305px;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
}

.product .pizzadetails .taste {
    width: 913px;
    height: 269px;
    background-color: #D9DAD1;
    border: 2px solid #797979;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
    border-radius: 30px;
    margin-left: 36px;
}

.product .pizzadetails .taste .tasteinfo {
    width: 815px;
    height: 198px;
    font-family: "Microsoft Yahei";
    font-size: 37px;
    color: #000000;
    white-space: nowrap;
    text-align: center;
    margin: 32px 0px 0px 46px;
}

.product .pizzadetails .taste .tasteinfo p {
    margin: 0px;
}

.product .pizzadetails .recipe {
    width: 441px;
    height: 269px;
    background-color: #D9DAD1;
    border: 2px solid #797979;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
    border-radius: 30px;
    margin-right: 37px;
}

.product .pizzadetails .recipe .recipeinfo {
    width: 358px;
    height: 269px;
    font-family: "Microsoft Yahei";
    font-size: 26px;
    color: #000000;
    white-space: nowrap;
    text-align: center;
    margin: 15px 0px 0px 40px;
}

.product .pizzadetails .recipe .recipeinfo p {
    margin: 0px;
}

.option {
    height: 712px;
    width: 100%;
    border-bottom: 1px solid #797979;
}

.option h1 {
    font-family: "Microsoft Yahei";
    font-size: 32px;
    color: #000000;
    margin-top: 18px;
    text-align: center;
}

.firstrow {
    display: flex;
    margin-top: 32px;
}

.oneofpd {
    width: 440px;
    height: 450px;
    border-radius: 10px;
    margin-left: 38px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
}

.two {
    width: 440px;
    height: 450px;
    border-radius: 10px;
    margin-left: 55px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
}

.three {
    width: 440px;
    height: 450px;
    border-radius: 10px;
    margin-left: 54px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
    background-color: white;
}

.img {
    height: 330px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.pizzaname {
    font-family: 'Forte';
    font-weight: 700;
    color: #333333;
    src: url('http://www.fontsaddict.com/fontface/forte.ttf');
    font-size: 32px;
    margin-left: 11px;
}

.timepricerating {
    display: flex;
    height: 36px;
    margin-top: 15px;
}

.time {
    background-color: #F6F6F6;
    width: 140px;
    margin-left: 13px;
    border-radius: 30px;
}

.deliveryiconminutes {
    display: flex;
}

.deliveryicon {
    width: 20px;
    margin-left: 10px;
    margin-top: 8px;
}

.minutes {
    font-size: 16px;
    color: #F38F9F;
}

.price2 {
    background-color: #F6F6F6;
    width: 82px;
    margin-left: 12px;
    border-radius: 30px;
}

.euroiconamount {
    display: flex;
}

.euroicon {
    width: 20px;
    margin-left: 10px;
    margin-top: 8px;
}

.amount {
    font-size: 16px;
    color: #54545A;
}

.rating {
    background-color: #F6F6F6;
    width: 82px;
    margin-left: 12px;
    border-radius: 30px;
}

.stariconpoints {
    display: flex;
}

.staricon {
    width: 22px;
    margin-left: 10px;
    margin-top: 7px;
}

.points {
    font-size: 16px;
    color: #54545A;
}

.contentofsc {
    width: 1512px;
    height: auto;
    border-bottom: 1px solid #797979;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 52%, rgba(236, 236, 236, 1) 100%);
}

.backbutton {
    margin-left: 38px;
    margin-top: 106px;
    width: 113px;
    height: 42px;
    background-color: white;
    border: 1px solid #797979;
    border-radius: 30px;
}

.backbuttoncontent {
    display: flex;
    margin-left: 13px;
    margin-top: 10px;
}

#backicon {
    width: 20px;
}

.backtext {
    font-family: 'Microsoft YaHei ', 'Microsoft YaHei ', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 7px;
}

.backtohp {
    text-decoration: none;
    color: #333333;
}

.yourorders {
    border-bottom: 1px solid #797979;
    margin-left: 38px;
    margin-top: 33px;
    height: 89px;
    width: 1434px;
}

.yourorderstext {
    font-family: 'Microsoft YaHei';
    font-size: 52px;
    font-weight: 700;
    width: 400px;
    margin-top: -20px;
    color: #333333;
}

.orderbox {
    width: 1434px;
    height: 231px;
    margin-left: 38px;
    margin-top: 39px;
    border-radius: 30px;
    border: 1px solid rgb(121, 121, 121);
    background-color: rgb(252, 252, 252);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}

.orderheader {
    margin-top: 5px;
    width: 1374px;
    margin-left: -23px;
    display: flex;
}

.orderheaderfont {
    font-family: 'Microsoft YaHei';
    font-size: 30px;
    font-weight: 700;
    color: #333333;
}

.quantityofsc {
    margin-left: 508px;
}

.priceofsc {
    margin-left: 113px;
}

.shippingratesofsc {
    margin-left: 113px;
}

.totalofsc {
    margin-left: 99px;
}

.orderinfo {
    width: 1374px;
    height: 113px;
    margin-left: 41px;
    margin-top: 16px;
    display: flex;
}

.pizzapictureofsc {
    width: 166px;
    height: 113px;
    border: 1px solid #797979;
}

.orderinfocontent {
    display: flex;
    width: 1208px;
    height: 50px;
    margin-top: 11px;
    margin-left: -11px;
}

.pizzanameofsc {
    font-family: 'Forte';
    font-weight: 700;
    src: url('http://www.fontsaddict.com/fontface/forte.ttf');
    font-size: 27px;
    margin-left: 11px;
    color: #333333;
}

.quantitybuttonofsc {
    display: flex;
    margin-left: 160px;
}

#oneInp {
    width: 54px;
    height: 31px;
    font-size: 20px;
    font-family: ‘Microsoft YaHei’;
    outline: none;
    text-align: center;
}

.priceamounteuroicon {
    display: flex;
    margin-left: 136px;
    margin-top: 1px;
}

.pricefont {
    font-family: 'Microsoft YaHei';
    font-size: 20px;
    margin-left: 16px
}

.euroicon {
    width: 15px;
    margin-top: 6px;
    margin-left: 2px;
}

.shippingratesamounteurocoin {
    display: flex;
    margin-left: 206px;
    margin-top: 1px;
}

.totalamounteurocoin {
    display: flex;
    margin-left: 192px;
    margin-top: 1px;
}

.garbage {
    width: 1374px;
    height: 41px;
    margin-left: 41px;
}

.garbageicon {
    width: 26px;
    margin-left: 1348px;
    margin-top: 15px;
}

.quantitybuttonpioppo {
    display: flex;
    margin-left: 131px;
}

.totalbuybutton {
    width: 676px;
    height: 93px;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-left: 797px;
    margin-top: 32px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.349019607843137);
}

.totalbuybuttoncontent {
    display: flex;
    padding-top: 17px;
    margin-left: 20px;
}

.totalpricetext {
    font-family: 'Microsoft YaHei';
    font-size: 38px;
    font-weight: 700;
}

.totalpriceamountpapaeuroicon {
    display: flex;
    margin-left: 20px;
}

.totalpriceamount {
    font-family: 'Microsoft YaHei';
    font-size: 38px;
    font-weight: 700;
    margin-left: 20px;
}

#papaeuroicon {
    width: 24px;
    margin-top: 16px;
    margin-left: 3px;
}

.redbutton {
    width: 225px;
    height: 60px;
    background-color: #FF0000;
    border-radius: 15px;
    margin-left: 105px;
}

.redbuttoncontent {
    font-size: 40px;
    font-family: 'Forte';
    src: url('http://www.fontsaddict.com/fontface/forte.ttf');
    margin-left: 75px;
}

.footer {
    height: 452px;
    border-bottom: 1px solid #797979;
}

.footerbeginning {
    margin-top: 46px;
    margin-left: 21px;
}

.footerheaders {
    display: flex;
    margin-top: 46px;
}

.footerheader {
    font-family: 'Microsoft YaHei';
    font-weight: 700;
    font-size: 18px;
    color: #333333;
}

.downloadtheapp {
    margin-left: 42px;
}

.joinus {
    margin-left: 350px;
}

.joinuscontent {
    margin-left: 283px;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    color: #333333;
}

.helpcenter {
    margin-left: 350px;
}

.helpcentercontent {
    margin-left: 274px;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    color: #333333;
}

.contenttext {
    margin-top: 12px;
}

.downloadbuttons {
    margin-top: 32px;
    margin-left: 42px;
    display: flex;
}

.apple {
    background-color: black;
    width: 233px;
    height: 68px;
    border-radius: 10px;
}

.appleicontext {
    display: flex;
}

#appleicon {
    width: 40px;
    height: 40px;
    margin-top: 14px;
    margin-left: 11px;
}

.text {
    color: white;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    margin-left: 20px;
    font-weight: 700;
    margin-top: 11px;
}

.big {
    font-size: 23px;
}

.android {
    background-color: black;
    margin-top: 15px;
    width: 233px;
    height: 68px;
    border-radius: 10px;
}

.androidicontext {
    display: flex;
}

#androidicon {
    width: 40px;
    height: 40px;
    margin-top: 14px;
    margin-left: 11px;
}

.contact {
    margin-left: 1262px;
    margin-top: 25px;
}

.contactbuttons {
    display: flex;
    margin-top: 25px;
}

.subbuttons {
    width: 40px;
}

.insta {
    margin-left: 16px;
}

.twitter {
    margin-left: 16px;
}

.wechat {
    margin-left: 16px;
}

.copyright {
    height: 35px;
}

.copyrightcontent {
    display: flex;
    margin-left: 42px;
    margin-top: 10px;
}

#copyrighticon {
    width: 14px;
    margin: 0px 6px 0px;
}

.copyrighttext {
    color: #aaaaaa;
    font-size: 14px;
    font-family: 'Arial';
}

.knopkadownload:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.349019607843137);
}

.knopka:hover {
    background: rgb(241, 241, 241);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.349019607843137);
}